$blue: #4a90e2;
 
.dashboard-redirect-container {
  text-align: center;
}

.form-success {
  background: rgba(136, 218, 85, 0.6);
  max-width: 40%;
  border-radius: 50%;
  margin: 0 auto;

  span {
    font-size: 10em !important;
    color: white !important;
  }
}

button.dashboard {
  border: 1px solid $blue !important;
  border-radius: 3px !important;
  margin: 2em auto !important;

  span {
    color: $blue !important;
    font-weight: 300 !important;
  }
}
